<!DOCTYPE html>
<html>
  <head>
    <title>Enviar dados para uma URL</title>
  </head>
  <body>
    <form action="/brawler" method="get">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" placeholder="O nome do brawler">
      <br>
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
